.books{
    display: flex;
    justify-content: center;
    align-items: center;
}

.books p{
    margin: 2rem;
}

.users{
    margin: 0 auto;
    margin-bottom: 3rem;
    border: 1px solid black;
    width: 40%;
}